In [1]:
import pandas as pd
url1 ="https://raw.githubusercontent.com/fju155447/fin_data/main/"

In [2]:
url = url1 + "NominalGDP_new" + ".csv"
df1 = pd.read_csv(url)
df1

      time     value forecast
0   24-Dec  24556033        F
1   23-Dec  23355819        F
2   22-Dec  22666522        P
3   21-Dec  21738982        P
4   20-Dec  19914806        R
5   19-Dec  18908632        R
6   18-Dec  18375022        R
7   17-Dec  17983347        R
8   16-Dec  17555268        R
9   15-Dec  17055080        R
10  14-Dec  16258047        R
11  13-Dec  15270728        R

In [3]:
url = url1 + "HHSpending_new" + ".csv"
df2 = pd.read_csv(url)
df2

      time     value forecast
0   24-Dec  11855185        F
1   23-Dec  11361285        F
2   22-Dec  10329771        P
3   21-Dec   9697117        P
4   20-Dec   9601096        R
5   19-Dec   9883066        P
6   18-Dec   9610482        P
7   17-Dec   9325676        P
8   16-Dec   9082075        R
9   15-Dec   8787564        R
10  14-Dec   8602842        R
11  13-Dec   8242378        R

In [21]:
df1[df1['time']=='23-Dec']['value']

1    23355819
Name: value, dtype: int64

In [9]:
a = 3

In [10]:
a

3

In [17]:
print(k)

Series([], Name: value, dtype: int64)